body {
    font-size: 26px;
}

#tablero_general {
    width: 580px;
    height: 540px;
    margin: 0 auto;
    margin-top: 70px;
}

#tablero_superior, #tablero_derecha, #tablero_izquierda, #tablero_inferior {
    display: flex;
}

#tablero_derecha {
    float: right;
    flex-direction: column;
    position: relative;
    left: -50px;
}

#tablero_izquierda {
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;
    left: 50px;
}

#tablero_inferior {
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: center;
}

#tablero_superior {
    justify-content: center;
}

#lugar_1, #lugar_2, #lugar_3, #lugar_4, #lugar_10, #lugar_11, #lugar_12, #lugar_13 {
    float: left;
}


/*Colores Indicadores*/

.verde {
    background-color: green;
}
.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.azul {
    background-color: blue;
}


/*Dimensiones Cajas*/

#lugar_1, #lugar_2, #lugar_3, #lugar_4, #lugar_5, #lugar_6, #lugar_7, #lugar_8, #lugar_9,
 #lugar_10, #lugar_11, #lugar_12, #lugar_13, #lugar_14, #lugar_15, #lugar_16 {
     width: 80px;
     height: 80px;
     border-color: black;
     border-style: solid;
     margin: 5px;
 }

 .verde, .amarillo, .rojo, .azul {
    border-color: black;
    border-style: solid;
 }

.verde, .amarillo {
    width: 80px;
    height: 20px;
}  

.rojo, .azul {
    width: 20px;
    height: 80px;
}



/*Posicionamiento colores cajas*/

.rojo {
    float: left;
    position: relative;
    right: 2px;
    top: -3px;

}

.azul {
    float: right;
    position: relative;
    right: -2px;
    top: -34.5px;
}

.verde {
    position: relative;
    top: 27px;
    right: 3px;
}

.amarillo {
    position: relative;
    right: 3px;
    top: -35.5px;
}


/*Posicionamiento numeros cajas*/

.numeros_derecha {
    float: right;
    position: relative;
    left: -29px;
    top: 24px;
}

.numeros_inferiores {
    position: relative;
    top: 29px;
    left: 23px;
}

.numeros_superiores {
    position: relative;
    top: 21px;
    left: 30px;
}

.numeros_izquierda {
    position: relative;
    top: 22px;
    left: 19px;
}


/*Rotado Numeros*/

.rotado-1 {
    transform: rotate(134deg);
    position: relative;
    left: -21px;
    top: 48px;
}

.rotado-5 {
    transform: rotate(225deg);
    position: relative;
    left: -24px;
    top: 0px;
}

.rotado-9 {
    transform: rotate(318deg);
    position: relative;
    top: 2px;
    left: 20px;
}

.rotado-13 {
    transform: rotate(41deg);
    position: relative;
    top: 36px;
    left: 20px;
}