#tablero_general {
    width: 580px;
    height: 540px;
}

#tablero_superior, #tablero_derecha, #tablero_izquierda, #tablero_inferior {
    display: flex;
}

#lugar_1, #lugar_2, #lugar_3, #lugar_4, #lugar_10, #lugar_11, #lugar_12, #lugar_13git{
    float: left;
}

#tablero_derecha {
    float: right;
    flex-direction: column;
    position: relative;
    left: -50px;
}

#tablero_izquierda {
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;
    left: 50px;
}

#tablero_inferior {
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: center;
}

#tablero_superior {
    justify-content: center;
}

/*Colores cajas*/
#lugar1, #lugar_5, #lugar_9, #lugar_13 {
    background-color: white;
}

/*Colores Indicadores*/
.verde {
    background-color: green;
}
.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.azul {
    background-color: blue;
}

/*Dimensiones Cajas*/
#lugar_1, #lugar_2, #lugar_3, #lugar_4, #lugar_5, #lugar_6, #lugar_7, #lugar_8, #lugar_9,
 #lugar_10, #lugar_11, #lugar_12, #lugar_13, #lugar_14, #lugar_15, #lugar_16 {
     width: 80px;
     height: 80px;
     border-color: black;
     border-style: solid;
     margin: 5px;
 }

.verde, .amarillo {
    width: 80px;
    height: 20px;
    border-color: black;
    border-style: solid;
}

.rojo, .azul {
    width: 20px;
    height: 80px;
    border-color: black;
    border-style: solid;
}

.rojo {
    float: left;
    position: relative;
    right: 2px;
    top: -3px;

}

.azul {
    float: right;
    position: relative;
    right: -2px;
    top: -22px;

}

.verde {
    position: relative;
    top: 38px;
    right: 3px;
}

.amarillo {
    position: relative;
    right: 3px;
    top: -22px;
}


/*Posicionamiento numeros cajas*/

.numero_derecha {
    float: right;
}

.numero_inferior {
    position: relative;
    top: 38px;
    left: 28px;
}

/*Rotado Numeros*/
.rotado-1 {
    transform: rotate(-45deg);
    position: relative;
    left: 24px;
    top: 5px;
}